# Exemplo de configuração local (SQLite)
ENVIRONMENT="local"
DATABASE_URL="sqlite:///./blog.sqlite"

# Exemplo de configuração de produção (Render/PostgreSQL)
# ENVIRONMENT="production"
# DATABASE_URL="postgresql://dio_blog_dzk1_user:YZsW6MdP5fa9J0LRkEOUnq8XZHkk1U6c@dpg-d7tti5d0lvsc73egq440-a/dio_blog_dzk1"